/* ---- Font Families ---- */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* ---- Universal Selectors ---- */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Rubik, Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	scroll-margin-top: 60px;
}

body{
	background-color: #f7fbff;
}

.container{
	padding: 0 10px;
	margin-bottom: 60px;
}

.text-highlight{
	color: #FF0096 !important;
}

.sub-heading{
	color: #1a1a1a;
	font-size: 42px;
	text-align: center;
	margin-bottom: 30px;
}

.sub-heading-para{
	color: #616161;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	width: 400px;
	line-height: 1.5;
}

.hover-pink:hover{
	background-color: #ff4d91 !important;
	color: #f7fbff !important;
}

.hover-black:hover{
	background-color: #1a1a1a !important;
	color: #f7fbff !important;
}

/* ---- Navigation Bar ---- */

nav{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #f7fbff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

nav span a{
	text-decoration: none;
	font-size: 30px;
	font-family: Pacifico;
	color: #ff4d91;
}

.navigation-link-container li{
	display: inline-block;
	margin-right: 30px;
}

.nav-links{
	text-decoration: none;
	color: #000000;
}

#login-button{
	padding: 7px 20px;
	border: none;
	background-color: #ff4d91;
	color: #f7fbff;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s;
}

.bx-menu, .bx-x{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

/* ---- Hero Section ---- */

.hero{
	padding: 40px 40px 20px 40px;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-left{
	flex-basis: 40%;
}

.hero-right{
	flex-basis: 49%;
}

.hero h1{
	font-size: 70px;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	font-weight: 700;
}

.hero p{
	font-size: 20px;
	width: 70%;
	text-align: center;
	margin: 30px auto;
	color: #616161;
	line-height: 1.5;
}

.hero-btn-container{
	text-align: center;
	display: flex;
	flex-flow: column;
	gap: 10px;
	align-items: center;
}

.hero-left-button{
	padding: 10px;
	width: 240px;
	text-decoration: none;
	border-radius: 6px;
	transition: 0.2s;
}

.generate-button{
	background-color: #ff4d91;
	border: 2px solid #ff4d91;
	color: #f7fbff;
	font-weight: 500;
}

.trending-button{
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: #1a1a1a;
}

.generate-button:hover{
	background-color: #1a1a1a;
	color: #f7fbff;
	border: 2px solid #1a1a1a;
}

.trending-button:hover{
	border: 2px solid rgba(0, 0, 0, 0.4);
}

.hero-palette-screen{
	width: 500px;
	height: 380px;
	border: 10px solid black;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.hero-color-palette{
	flex-basis: 20%;
	height: 100%;
}

.hero-palette-scrren-buttom{
	width: 700px;
	margin: 0 auto;
	height: 14px;
	background-color: #C9C8CC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* ---- Trending Section ---- */

.trending{
	width: 100%;
}

.trending-palette-container{
	width: 100%;
	padding: 0 40px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	gap: 40px;
	justify-content: space-evenly;
}

.trending-palette-box{
	width: 400px;
	height: 150px;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}

.trending-palette{
	flex-basis: 20%;
	height: 100%;
	transition: 0.2s;
	display: flex;
	align-content: center;
	justify-content: center;
}

.trending-palette:hover{
	flex-basis: 50%;
}

.trending-palette:hover > .trending-palette-code{
	display: block;
}

.trending-palette-code{
	color: #000;
	align-self: center;
	cursor: pointer;
	display: none;
	font-weight: 500;
}

.trending-palette-code i{
	font-size: 30px;
}

/* ---- Pricing Section ---- */

.pricing{
	width: 100%;
	padding: 0 20px;
}

.pricing-box-container{
	width: max-content;
	margin: 30px auto 0 auto;
	display: flex;
	gap: 20px;
}

.pricing-box{
	border: 2px solid #C9C8CC;
	border-radius: 10px;
	overflow: hidden;
	width: 300px;
	transition: 0.2s;
}

.pricing-box:hover{
	border: 2px solid #ffb9d4;
}

.pricing-head{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
	gap: 5px;
}

.pricing-head h3{
	font-weight: 500;
	font-size: 24px;
}

.pricing-head p{
	font-size: 18px;
	color: #333;
}

.pricing-body{
	padding: 20px;
}

.pricing-body ul li{
	list-style: none;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.pricing-body ul li i{
	margin-right: 5px;
}

.price-red{
	color: red;
}

.price-green{
	color: green;
}

.pricing-button-container{
	padding: 0 10px 10px 10px;
	width: 100%;
}

.pricing-button-container a{
	padding: 10px 10px;
	display: block;
	border-radius: 6px;
	width: 100%;
	text-decoration: none;
	color: #f7fbff;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
}

.free-button{
	color: #1a1a1a !important;
	background-color: #C9C8CC;
}

.go-pro-button{
	background-color: #ff4d91;
}

/* ---- Footer ---- */

footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e6e6e6;
	padding: 40px 20px;
}

.footer-container{
	margin-bottom: 20px;
	display: flex;
	gap: 40px;
}

.footer-icons-container a{
	color: #616161;
	font-size: 30px;
	transition: 0.2s;
}

.footer-icons-container a:hover{
	color: #ff4d91;
}

.footer-links-container a{
	color: #333;
	text-decoration: none;
}

.footer-copyright span{
	font-size: 14px;
	color: #717171;
}

/* ==================================== Responsive ==================================== */

@media(max-width: 420px){
	.sub-heading{
		margin-bottom: 20px;
	}

	.sub-heading-para{
		width: 90%;
	}
}

@media(max-width: 600px){
	.sub-heading{
		font-size: 30px;
	}

	.sub-heading-para{
		font-size: 18px;
	}
}

/* ---- Navigation Bar ---- */

@media(max-width: 700px){
	.navigation-link-container{
		width: 100%;
		position: fixed;
		top: 50px;
		left: 0;
		background-color: #f7fbff;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		display: none;
		box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
	}

	.navigation-link-container-active{
		display: flex;
	}

	.navigation-link-container li{
		display: block;
		margin: 0;
	}

	#login-button{
		width: 150px;
	}

	#menu-open-icon{
		display: block;
	}
}

/* ---- Hero Section ---- */

@media(max-width: 1300px){
	.hero h1{
		font-size: 60px;
	}

	.hero-palette-screen{
		width: 420px;
		height: 300px;
	}

	.hero-palette-scrren-buttom{
		width: 560px;
	}
}

@media(max-width: 1050px){
	.hero h1{
		font-size: 50px;
	}

	.hero-left{
		flex-basis: 55%;
	}

	.hero-right{
		flex-basis: 40%;
	}

	.hero-palette-screen{
		width: 300px;
		height: 200px;
	}

	.hero-palette-scrren-buttom{
		width: 390px;
		height: 10px;
	}
}

@media(max-width: 800px){
	.hero{
		flex-direction: column;
		justify-content: center;
		padding: 50px 20px 20px 20px;
		gap: 60px;
	}

	.hero-left{
		order: 1;
		flex-basis: auto;
		width: 100%;
	}

	.hero-right{
		order: 0;
		flex-basis: auto;
		width: 100%;
	}
}

@media(max-width: 650px){
	.hero h1{
		font-size: 42px;
		margin-bottom: 20px;
	}

	.hero p{
		font-size: 18px;
		margin: 20px auto;
	}
}

@media(max-width: 490px){
	.hero-palette-screen{
		width: 80%;
	}

	.hero-palette-scrren-buttom{
		width: 100%;
	}
}

/* ---- Trending Section ---- */

@media(max-width: 600px){
	.trending-palette-container{
		padding: 0 10px;
	}

	.trending-palette-box{
		width: 90%;
		height: 130px;
	}
}

/* ---- Pricing Section ---- */

@media(max-width: 672px){
	.pricing-box-container{
		flex-direction: column;
		width: 100%;
	}
	
	.pricing-box{
		width: 100%;
	}
}

/* ---- Footer ---- */

/* You can also do it. I am not doing this because it is alright. */
